.postReview {
    display: flex;
     flex-direction: column;
    align-content: space-around; 
    /* text-align: center;
    background-color: #252932;
    margin: auto;
    padding: 15px;
    border-radius: 5px; */
}

.titleInput {
    align-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    border: none;
}

.owner {
    align-content: space-around;
    flex-direction: column;
    padding-left: 10px;
    color: azure;
}

.review {
    align-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px 5px 5px 15px;
    border: none;
    width: 90vw
}

.designerInput {
    align-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    padding:5px 5px 5px 10px;
    border: none
}

.categoryDropDown {
    color: azure;
    align-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    border: none;
}

.cat {
    padding: 5px;
    border-radius: 5px;
    color: rgb(130, 126, 126);
}

.submitButton {
    color: azure;
    align-content: space-around;
    flex-direction: column;
    border-radius: 2px;
    padding: 8px;
    border: none;
    background-color: #0aac02;
}

.sub {
    align-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px 5px 5px 15px;
}

.description {
    color: azure;
}

.message {
    color: rgb(230, 21, 21);
    margin-top: 10px;
}

.thanks {
    color: rgb(94, 193, 220);
    margin-top: 10px;
}