.reviewList {
    list-style: none;
    background-color: #252932;
    border: 1px solid rgb(115, 115, 121);
    padding-bottom: 0px;
    margin: 8px 25px 0px 0px;
    border-radius: 10px;
    -webkit-box-shadow: -5px 0px 13px -3px rgba(0, 0, 0, 0.57);
    box-shadow: -5px 0px 13px -3px rgba(0, 0, 0, 0.57);
  }

  .feedTop {
    display: flex;
    align-items:flex-start;
    font-style: bold;
    color: azure;
}

.reviewImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px 5px 0px 5px;
  }