.wholeFeed {
  /* flex: 5; */
  /* align-items: flex-start; */
  height: calc(100vh - 160px);
  overflow-y: scroll;
  padding: 0px;
  margin-bottom: 0px;
}

.allReviewList {
    list-style: none;
    background-color: #252932;
    border: 1px solid rgb(115, 115, 121);
    padding: 5px 30px 0px 30px;
    margin: 10px 25px 10px 10px;
    border-radius: 10px;
    -webkit-box-shadow: -5px 0px 13px -3px rgba(0, 0, 0, 0.57);
    box-shadow: -5px 0px 13px -3px rgba(0, 0, 0, 0.57);
  }

  .owner {
    margin-left: 5px;
  }

  .title {
    margin-left: 5px;
    font-weight: bold;
  }

  .allFeedTop {
    display: flex;
    align-items:flex-start;
    font-style: bold;
    color: azure;
}

.reviewImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px 10px 0px 8px;
  }

  .category {
    margin-left: 5px;
    font-style: italic;
    color: rgb(1, 255, 39);
  }

  .allFeedBottom {
    display: flex;
    color: azure;
    margin: 0px 0px 0px 5px;
  }

  /* .votes {
    flex: 1;
    margin: 5px 5px 0px 0px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
  } */

  .date {
    flex: 1;
    margin: 10px 0px 10px 10px
  }

  .reviewButton {
    flex: 1;
    padding: 1px 1px 1px 1px;
    margin: 10px 50px 10px 10px;
  }

  .comments {
    margin-right: 30px;
  }

  .dropDown {
    text-align: center;
    border-radius: 10px;
    background-color: #252932;
    color: azure;
    border: none;
    margin: 5px 10px 10px 10px;
    padding: 4px
    
  }

  .vote {
    margin-right: 20px
  }