.likeIt {
  display: flex;
}

.upvote {
  color: rgb(252, 252, 252);
  background-color: #191e2b;
  padding: 0px 4px 0px 4px;
  margin: 5px 5px 10px 5px;
  border-radius: 50px;
  font-size: large;
}

.upvote:hover {
  background-color: #22c11a;
}

.downvote {
  color: rgb(252, 252, 252);
  background-color: #191e2b;
  padding: 0px 4px 0px 4px;
  margin: 5px 5px 10px 5px;
  border: none;
  border-radius: 50px;
  font-size: large;
}

.downvote:hover {
  background-color: #df2323;
}
