.commentsHeader {
  text-align: left;
  font-size: large;
}

.commentsList {
  list-style: none;
  text-align: left;
}

.dates {
  text-align: right;
  margin-right: 50px;
}

.commentsHr {
  padding-top: 30px;
  border: 0px;
}

.commentBottom {
  display: flex;
}

.delete {
  background-color: red;
  border: none;
  color: azure;
  padding: 4px;
  border-radius: 10px;
}

.delete:hover {
  background-color: #8a0a0a;
}
