.commentsHeader {
  text-align: left;
  font-size: medium;
}

.commentsList {
  list-style: none;
  text-align: left;
}

.dates {
  text-align: right;
  margin-right: 50px;
}

.commentsHr {
  padding-top: 30px;
  border: 0px;
}

.commentBottom {
  display: flex
}

.delete {
  color: azure;
  background-color: rgb(252, 32, 32);
  border: none;
  border-radius: 10px;
  padding: 0px 5px 0px 5px;
}



